@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
 margin: 0;
 padding: 0;

}

.contenedor-index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-areas: 
    "header"
    "section"
    "footer"
    ;
}

header{
  grid-area: header;
  background-color: hsl(290, 13%, 57%);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: left;
  color: hsl(282, 19%, 52%);
  font-weight: 30%;
}


@keyframes Candida Candles{
    0%{opacity:0;}
    50%{opacity:1; color:hsl(290, 13%, 57%);}
    100%{opacity:0;}
}

.bg-propio{
    background-color:hsl(0, 0%, 100%);
}

.nav-item a{
  color:hsl(270, 50%, 99%)!important;
  background-color: hsl(273, 28%, 39%);
  border-radius: 5px;
  margin: 5px;
}

.nav-item a:hover{
  background-color: hsl(0, 2%, 8%);
}

 
.card{
  margin: 10px;
  margin-left: 6%;
}


.login{
    margin-top: 7%;
    margin-left: 10%;
 }
 
 section{
    grid-area: section;
    background-color: rgb(253, 253, 253);
 }

 footer{
    grid-area: footer;
    background-color: hsl(290, 13%, 57%);
 }

 .bi-instagram {
    color: rgb(255, 255, 255);  
    font-size: 25px; 
 }

 .bi-whatsapp{
    color: rgb(253, 253, 253);
    font-size: 25px;
}

@media screen and (max-widht:500px){
    header{
        background-color: hsl(0, 0%, 0%) ; 
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 10px; 
    }
    
}