header{
    grid-area: header;
    background-color: hsl(290, 13%, 57%);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: left;
    color: hsl(282, 19%, 52%);
    font-weight: 30%;
  }
  