@import"generales";
@import"navbar"; 
@import"header";

 
.card{
  margin: 10px;
  margin-left: 6%;
}


.login{
    margin-top: 7%;
    margin-left: 10%;
 }
 
 section{
    grid-area: section;
    background-color: rgb(253, 253, 253);
 }


 

}